/* Styling for the static navigation */
.side-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 350px; /* Increased width of the navigation bar */
    background-color: #f0f0f0;
    color: #555;
    padding: 25px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

/* Styling for the back-link containing both SVG icon and text */
.back-link {
    display: flex; /* Arrange icon and text horizontally */
    align-items: center; /* Align vertically centered */
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #757575; /* Default text color */
    gap: 15px; /* Space between the icon and text */
    margin-top: 1.2rem;
}

.back-link:hover {
    color: #7b0017; /* Change text color on hover */
}

/* Hover effect for back link icon in the side-nav */
.back-link:hover svg path {
    fill: #7b0017; /* Change arrow color on hover */
}

/* Styling for the span text */
.back-link span {
    font-size: 22px;
    font-weight: bold;
    line-height: 1.5; /* Maintain consistent line spacing */
}
