/* Basic reset and body styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Thai', sans-serif !important;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Changed to flex-start to avoid centering vertically */
    height: 100vh;
    background-color: #fff; /* Light gray background */
    padding-top: 20px; /* Add padding to the top so the form does not touch the top of the viewport */
}